body {
	margin: 0%;
}


/*-------------------------------------------BACKGROUNDIMG--------------------------------------------*/

.backgroundimg {
	background-image: url(../img/Smartphone/fondecrantattoo.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    width: 100%;   
}

/*-----------------------------------------HEADER------------------------------------------------------*/

header {
	display: inline-flex;
	margin-top: 10%;
}

h1 {
	height: 45px;
	left: 3%;
	color: #3A3A3A;
}

.container {
	flex-wrap: wrap;
	width: 65%;
	justify-content: space-between;
	list-style: none;
	margin-top: 10%;
}

.container  li a {
	color: #222222
}

/*--------------------------------------------Main----------------------------------------------------------*/

.containerform form {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 10%;
	width: 80%;
	color: #777777;
}

p {
	text-align: center;
	color: white;
}

iframe {
	position: relative;
	left: 2%;
}

/*-----------------------------------------------FOOTER----------------------------------------------------*/

.imgfooter {
	position: relative;
	border-radius: 0px;
	box-shadow: none;
	width: 15%;
	left: 40%;
	margin: 0;
}

.containerfooter {
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	text-align: center;
	height: 270px;
}

.containerfooter a {
	color: #222222;
	margin-bottom: 10%;
}

.containerfooter a:hover {
	color: white;
}